<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ca" lang="ca">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
	<link href="/css/pimporreta.css" media="screen" rel="stylesheet" type="text/css" />
	<title>pimporreta.org</title>
</head>

<body>
  <div class="wrap">
    <div id="header">
        <h1><a href="/" title="pimporreta.org">pimporreta.org</a></h1>
    </div>
    <div id="nav">
      <% if @post.prev %>
        <a class="prev" href="<%= @post.prev.url %>">anterior</a>
      <% end %>
      <% if @post.next %>
        <a class="next" href="<%= @post.next.url %>">seg&uuml;ent</a>
      <% end %>
    </div>
  </div>

  <div id="content" class="wrap">
    <%= yield %>
  </div>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js" type="text/javascript" charset="UTF-8"></script>  
  <script type="text/javascript"charset="UTF-8">  
    $(function () {  
      $('#gotocomments').click(function () {
        $('#post').hide();
        $('#comments').show();
        return false;  
      });
      $('#gotopost').click(function () {
        $('#comments').hide();
        $('#post').show();
        return false;  
      });  
    });  
  </script>
</body>
</html>
