<div id="newpost">
  <h1>Alimenta pimporreta</h1>
  <% if @last_post %>
  <div class="notice">
      Última entrada publicada: <%= @last_post.published_on.strftime("%d/%m/%Y") %>
  </div>
  <% end %>
  <form action="/new" method="post">
    <input type="text" name="title" value="<%= @post.title %>" id="title">
    <select name="kind" id="kind">
      <option></option>
      <option value="v">video</option>
      <option value="q">cita</option>
      <option value="p">foto</option>
      <option value="l">link</option>
      <option value="t">text</option>
    </select>
    <textarea id="postcontent" name="content" rows="10"><%= @post.content %></textarea><br>
    <input type="submit" name="newpost" value="Desar" id="newpost">
  </form>
  <div class="notice" style="text-align: left;">
    <h1>Ajuda</h1>
    <p>El títol és obligatori, i va al primer requadre.</p>
    <br>
    <p>En el cas de <strong>video</strong> o <strong>text</strong>, simplement cal posar el contingut al requadre gran. En el cas dels videos, cal posar el codi del youtube de &lt;Insertar&gt;.</p>
    <br>
    <p>En el cas de <strong>foto</strong> o <strong>link</strong>, cal posar l'adreça (URL) al camp gran. No es poden pujar imatges per ara, s'ha de posar l'adreça d'on estigui pujada la imatge.</p>
    <br>
    <p>Quan s'afegeix una <strong>cita</strong> s'ha de posar l'autor de la cita al camp del títol i la frase a la casella gran. És obligatori posar un autor. Si no n'hi ha poseu un guío, o anònim, però no es guardarà si no es posa res.</p>
    <br>
    <p>Només es mostrarà una entrada per dia, per tant cada entrada que s'afegeixi anirà a la cua, i s'aniran mostrant per ordre d'inserció.</p>
  </div>
</div>
