html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

/* remember to define focus styles! */
:focus {
	outline: 0;
}

/* remember to highlight inserts somehow! */
ins {
	text-decoration: none;
}
del {
	text-decoration: line-through;
}

/* tables still need 'cellspacing="0"' in the markup */
table {
	border-collapse: collapse;
	border-spacing: 0;
}


html, body {
height: 100%;
}

body
{
	margin: 0;
	background: #0a0a0a;
	color: #ffffff;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 14px;
}

a, a:visited
{
	color: #fff;
}
#header a, #nav a
{
	text-decoration: none;
  opacity: .70;
	/* For IE 5-7 */
	filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
	/* For IE 8 */
	-MS-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
}

#header a:hover, #nav a:hover
{
	color: #ff0044;
}

.wrap
{
	width: 960px;
	margin: 0 auto;
	overflow: hidden;
}
#header
{
	position: fixed;
	bottom: 0;
	height: 60px;
	width: 960px;
	background-color: #222;
	opacity: .70;
	/* For IE 5-7 */
	filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
	/* For IE 8 */
	-MS-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
}

	#header h1
	{
		margin: 0 0 2px 0;
		font-size: 4em;
		line-height: 1em;
  	text-align: center;
	}

	#header h1 a
	{
/*		color: #0A0A0A;*/
/*		color: #1a1a1a;*/
		color: #000;
	}

#everysing
{
  display: block;
  padding-bottom: 200px;
}

#content
{
	margin-top: 5%;
	
	line-height: 1.4em;
}

	#content .post
	{
		text-align: center;
	}


#nav
{
	text-align: center;
}

#nav a
{
	font-size: 2em;
	font-weight: bold;
	color: #333333;
}

#nav a.next
{
	float: right;
}

#nav a.prev
{
	float: left;
}

#nav a.button
{
  background-color: #333333;
  color: #ff0044;
  padding: 0 12px;
  line-height: 35px;
  margin: 0 5px;
}

.comments h2, #drop-comment
{
	margin-left: 320px;
	margin-bottom: 30px;
  font-size: 1.4em;
}

#drop-comment
{
  color: #777;
  cursor: pointer;
}
.comment
{
	clear: both;
	margin-bottom: 40px;
}
.comment .author, span.author
{
	font-weight: bold;
	color: #ff0044;
	float: left;
	width: 300px;
	text-align: right;
	margin-right: 10px;
	height: 60px;
}

.comment .author em
{
  font-weight: normal;
  color: #555555;
}
.comment .ago
{
	color: #333333;
	display: block;
	font-weight: normal;
}

.comment .content
{
	display: block;
	margin-left: 310px;
	margin-right: 50px;
	padding-left: 10px;
	border-left: 1px solid #333;
}

.comment-form
{
	clear: both;
	display: none;
}
.comment-form-show
{
  display: block;
}

.comment-form .name
{
	width: 300px;
	text-align: right;
	float: left;
}
.comment-form .name input
{
	font-weight: bold;
	color: #ff0044;
	text-align: right;
}

.comment-form .content
{
	display: block;
	margin-left: 310px;
	
	border-left: 1px solid #333;
	padding-left: 10px;
}

.comment-form .content textarea
{
	width: 490px;
	font-family: Helvetica, arial, sans-serif;
	font-size: 0.8em;
}

.comment-form .content input
{
}

label em
{
  color: #555;
}

#newpost textarea
{
  width: 100%;
}

#newpost input#title
{
  width: 800px;
  line-height: 1.2em;
}

#newpost select
{
  font-size: 2em;
}

#newpost input
{
  margin: 20px 0;
  font-size: 2em;
}

h1
{
  font-size: 2em;
  color: #ff0044;
  line-height: 2.5em;
}

.notice
{
  display: block;
  background: #333;
  border: solid 1px #555;
  padding: 20px;
  margin: 20px 0 60px 0;
  text-align: center;
}
.notice em
{
  color: #ff0044;
  font-style: normal;
  font-size: 2em;
}
.notice li
{
  margin-bottom: 20px;
}

.post
{
  margin-bottom: 100px;
}

.post.kind_q .posttot, .post.kind_l .posttot
{
  display: block;
  background: #181818;
  padding: 20px 40px 40px 40px;
  margin: 20px 0;
}
.post.kind_q h1
{
  text-align: left;
}

.post.kind_l h1
{
  display: none;
}
.post.kind_l .postcontent p
{
  color: #777;
  padding-top: 20px;
}

.post.kind_q .postcontent, .post.kind_l .postcontent a
{
  font-size: 3em;
  line-height: 1em;
  color: #999;
}

.post.kind_p .postcontent, .post.kind_v .postcontent, .post.kind_t .postcontent
{
  margin: 20px 0 60px 0;
}

.post .postcontent img
{
  max-width: 100%;
}


.postinfo .authorname
{
  font-weight: bold;
  color: #555;
}
.postinfo .date
{
  color: #777;
  font-style: italic;
  margin: 0 15px;
}

.postinfo .postlink a
{
  color: #555;
}

ul.listposts
{
  
}
.listposts li, .listcomments li
{
  margin-bottom: 10px;
}
  .listposts .date, .listcomments .date
  {
    font-style: italic;
    color: #777;
  }
  .listcomments .authorname
  {
    font-weight: bold;
    color: #ff0044;
  }
  .listcomments .authorname em
  {
    font-weight: normal;
    color: #777777;
  }

  .listposts a, .listcomments a
  {
    font-weight: bold;
  }
  .listcomments h3
  {
    display: inline;
  }
  .listposts h3
  {
    display: inline;
    margin-left: 20px;
  }
